@font-face {
  font-family: Roundo;
  src: url(./sources/Roundo-Bold.otf);
}

*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #374151;
  border: 4px solid #374151;
}

*::-webkit-scrollbar-track:hover {
  background-color: #374151;
}

*::-webkit-scrollbar-track:active {
  background-color: #374151;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(#ff497c, #ff9500, #a78bfa);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

body {
  background-image: url(./sources/pozadina.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 200%;
  }  
}

.nav-link {
  font-family: Roundo;
}

.nav {
  display: flex;
}

.nav ul a {
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 0.5rem;
  position: relative;
}

.nav ul a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff497c;
  transition: width 0.2s;
}

.nav ul a:hover::after,
.nav ul a.active::after {
  width: 100%;
}

.about-me-text {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

.custom-shadow {
  box-shadow: 10px 10px 0px black;
}

.terminal-body div,
#typingMessages {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  color: #7afb4c;
}

.techFont {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

.console {
  height: 26.5rem;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
}

#typingMessages::after {
  content: "";
  display: inline-block;
  position: relative;
  height: 19px;
  transform: translateY(25%);
  width: 2px;
  background-color: #7afb4c;
  transition: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1.active {
  border-bottom: 1px solid #ff497c;
}

.hamburgerMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
}

.hamburgerMenu span {
  height: 2px;
  width: 25px;
  background-color: white;
}

.bg-black40 {
  background-color: rgba(0, 0, 0, 0.4);
}